/* 
 * Default styles 
 * Edit this file to change styling
 */
/* css transitions */
#ra-container {
  transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
}
.ra-large #ra-main {
  transition: left 0.25s, max-width 0.25s;
  -webkit-transition: left 0.25s, max-width 0.25s;
}
#ra-nav {
  transition: max-height 0.25s;
  -webkit-transition: max-height 0.25s;
}
/* your styles here */
/* #ra-container has .ra-small .ra-large or .ra-fullscreen classes
 * depending on app state
 * this can be very useful for styling
 */
#ra-panel-l {
  background: #eef;
}
#ra-panel-r {
  background: #efe;
}
#ra-main {
  background: #fee;
}
#ra-headmatter {
  background: #ffe;
}
#ra-nav-container {
  background: #eee;
}
